<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thompson.mapper.UserMapper">
    <update id="updUser" parameterType="User">
        update user set user_name=#{username},password=#{password} where user_name=#{username}
    </update>

    <select id="selUsers" resultType="user" flushCache="true">
        select user_name username,password from user
    </select>

</mapper>

